/* You can add global styles to this file, and also import other style files */

body {
    background-color: #DCDFE1;
}

/* You can add global styles to this file, and also import other style files */

body {
    /*background-color: #ccc;*/
    padding-top: 20px;
    border-top: 5px solid #ee2828;
}

.content {
    background-color: #FFC;
    padding: 30px 0;
}